.car {
	background-size: contain;
	position: absolute;
	width: 70px;
	height: 35px;
	transform-origin: center left;
}
body {
	background-image: url('newparkinglot.png');
	background-size: 500px;
	background-position-x: 15px;
	background-repeat: no-repeat;
	position: absolute;
}
#fade {
	position: absolute;
	top: 0;
	left: 500px;
	height: 100vh;
	width: 400px;
	z-index: 1;
	background-image: linear-gradient(to right, transparent, white, white);
}
button {
	position: absolute;
	left: 520px;
	background-color: blue;
	color: white;
	z-index: 10;
	width: 100px;
	height: 50px;
}
button:hover {
	background-color: rgb(56, 56, 253);
}
